.container {
  background-color: var(--grey-bg);
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.formTitle {
  display: inline;
}
.closeButton {
  margin: 0px 0px;
  width: 20px;
  border-style: none;
  float: right;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: bold;
}