/* */
.container {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100vh;
  width: 300px;

  background-color: var(--grey-bg);
}

.container a {
  color: var(--white);
  text-decoration: none;
}

.container a:hover {
  font-weight: bold;
}

.container .active {
  color: var(--font-color-secundary);
}

.container li {
  margin: 1rem;
  list-style: none;
  text-align: center;
}

.container li:last-child {
  margin-top: 3rem;
}

.container .logOut {
  background-color: transparent;
  color: var(--white);
  border: none;
  text-decoration: none;
}

.container .logOut:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--font-color-secundary);
}